.cart-item-img { width:60px; height:60px; object-fit:cover; }
.cart-item { border:1px solid #eee; border-radius:8px; padding:10px; }
.item-quantity input { text-align:center; }

/* السلة على اليمين وارتفاع الشاشة */
#cartModal .modal-dialog {
    max-width: 33%;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

/* موبايل */
@media (max-width: 767px) {
    #cartModal .modal-dialog {
        max-width: 100% !important;
        width: 100% !important;
    }
}



#cartModal.show .modal-dialog { transform:translateX(0); }
#cartModal .modal-backdrop { background-color: rgba(0,0,0,0.5); }

/* زر checkout معطل */
#checkout-btn:disabled {
    background-color: #6c757d !important;
    cursor: not-allowed;
    opacity: 0.6;
}


