{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<!-- المنتجات -->
<div class="container my-5">
    <h1 class="mb-4 text-center">
        {% if LANGUAGE_CODE == 'ar' %}
            المنتجات
        {% else %}
            Products
        {% endif %}
    </h1>


    <div class="row g-3">
        {% for product in products %}
        <div class="col-md-4">
            <div class="product-item p-3 h-100" 
                              
            data-id="{{ product.id }}" 
            

            
            
            {% if LANGUAGE_CODE == 'en' and product.name_en %}
            data-name="{{ product.name_en }}" 
            {% else %}
            data-name="{{ product.name }}" 
            {% endif %}
            data-price="{{ product.price }}" 

           
            
            



            data-img="{{ product.display_image.url }}"
            

            data-type="products"
            >

                <div class="d-flex gap-3 align-items-start">
                    <!-- الصورة --> 
                     






                      
                      {% if LANGUAGE_CODE == 'en' and product.image_en.url %}
                     <img src="{{ product.image_en.url }}" alt="{{ product.image_en.url }}" class="rounded-circle" style="width:65px; height:65px; object-fit:cover;">
                        {% else %}
                     <img src="{{ product.image.url }}" alt="{{ product.image.url }}" class="rounded-circle" style="width:65px; height:65px; object-fit:cover;">
                        {% endif %}






                    <!-- الاسم -->
                    <div class="flex-grow-1">


                      {% if LANGUAGE_CODE == 'en' and product.name_en %}
                      <h6 class="mb-2"> {{ product.name_en }}</h6>
                        {% else %}
                      <h6 class="mb-2"> {{ product.name }}</h6>
                        {% endif %}

                      
                      


                      <!-- السعر -->
                     {% if LANGUAGE_CODE == 'ar' %}
                        <small class="d-block mb-1" >{{ product.price }} ج</small>

                     {% else %}
                        <small class="d-block mb-1" >{{ product.price }} EGP</small>

                     {% endif %}


                     <!-- الوصف -->
                        {% if LANGUAGE_CODE == 'en' and product.description_en %}
                            <p class="product-description mb-2">{{ product.description_en }}</p>                        
                        {% else %}
                            <p class="product-description mb-2">{{ product.description }}</p>                        
                        {% endif %}


                         <!-- Donate  -->
                        <div class="d-flex gap-2">
                            <input type="number" name="amount" value="1" min="1" class="form-control form-control-sm" style="width:75px;">
                            
                            {% if LANGUAGE_CODE == 'en' %}
                            <button type="button" class="btn btn-sm btn-btnnn flex-grow-1 add-to-cart"> Donate </button>
                            {% else %}
                            <button type="button" class="btn btn-sm btn-btnnn flex-grow-1 add-to-cart"> تبرع الآن </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    
    


</div>



{% endblock %}
